{% extends "base_amara.html" %}

{% block styles %}
{{super()}}
<style type="text/css">
.icon {
  height: 2rem;
  width: 2em;
  padding-right: 10pt;
}
.hangingindent {
  padding-left: 2rem ;
  text-indent: -2rem ;
}
</style>
{% endblock %}
{% block content %}
{{super()}}

<div class="container">

  <h5>About this site</h5>

  <div class="hangingindent"><img class="icon" src="icons/code.svg"/>This site is developed by Ajit Krishnan</div>
  <div class="hangingindent"><img class="icon" src="icons/code.svg"/>The sources are on <a href="https://github.com/aupasana/amara-quiz">github</a></div>
  <div class="hangingindent"><img class="icon" src="icons/code.svg"/>Data set: <a href="https://github.com/aupasana/amara-quiz/blob/master/database/amara_mula.utf8">amara kosha mulam</a> on github</div>
  <div class="hangingindent"><img class="icon" src="icons/code.svg"/>Data set: <a href="https://github.com/aupasana/amara-quiz/blob/master/database/amara_pada.csv">amara kosha word csv file</a> on github</div>
  <br/>

  <h5>Credits</h5>

  <div class="hangingindent"><img class="icon" src="icons/thumbs-up.svg"/>This site was made possible by the <a href="http://sanskrit.uohyd.ac.in/scl/amarakosha/frame.html">University of Hyderabad amara kosha dataset</a></div>

  <div class="hangingindent"><img class="icon" src="icons/thumbs-up.svg"/>Icons made by <a href="https://www.flaticon.com/authors/picol" title="Picol">Picol etc</a>
      from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a>
      are licensed by <a href="http://creativecommons.org/licenses/by/3.0/"
      title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>

</div>
{% endblock %}

{% block footer %}
{% endblock %}
