{% extends "base_amara.html" %}

{% block styles %}
{{super()}}
{% endblock %}

{% block content %}
{{super()}}

<div class="container">
    This site was made possible by the
    <a href="http://sanskrit.uohyd.ac.in/scl/amarakosha/frame.html">University of Hyderabad amara kosha dataset</a>.

    <br/><br/>
    The sources are on <a href="https://github.com/aupasana/amara-quiz">github</a>.

    <br/><br/>

    <div>Icons made by <a href="https://www.flaticon.com/authors/picol" title="Picol">Picol</a>
      from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a>
      is licensed by <a href="http://creativecommons.org/licenses/by/3.0/"
      title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>

      <br/>
</div>
{% endblock %}
