{% extends "base_bootstrap.html" %}

{% block head %}
{{super()}}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
{% endblock %}

{% block styles %}
{{super()}}
<style type="text/css">
  html {
    font-size: 100%;
  }
  .top-matter {
    text-align: center;
  }
  .connection-image {
    height: 2rem;
    width: 2em;
    padding-right: 10pt;
  }
  .headerSearch {
    text-align: center;
  }
  .header-search-div {
    padding-top: 5pt;
  }
  .footer-image {
    height: 1rem;
    width: 1rem;
  }
</style>
{% endblock %}

{% block scripts %}
{{super()}}
<script>
$(document).ready(function(){
  $("#headerSearchTerm").keypress(function() {
    var keycode = (event.keyCode ? event.keyCode : event.which);
      if (event.which == 13 || event.keyCode == 13) {
        window.location = "/search?term=" + $('#headerSearchTerm').val();
          event.preventDefault()
      }
   });
  $('#header-search-button').click(function() {
    window.location = "/search?term=" + $('#headerSearchTerm').val();
  });
});
</script>
{% endblock %}

{% block content %}
{{super()}}
<div class="container top-matter">
  <div class="card bg-light" style="max-width: 30rem;">
    <div class="card-body"  style="max-width: 30rem;">
      <h3><a href="/">अमरकोषसम्पद्</a></h3>
      <div class="header-search-div">
        <a href="https://github.com/aupasana/amara-quiz/issues"><img class="footer-image" id="header-search-button" src="/icons/bug.svg"/></a>
        &nbsp;&nbsp;&nbsp;<input type="text" class="headerSearch" id="headerSearchTerm" placeholder="search in itrans / देवनागरी" style="width:15rem;" autofocus></input>&nbsp;&nbsp;&nbsp;
        <a href="#" id="header-search-button"><img class="footer-image" src="/icons/search.svg"/></a>
      </div>
    </div>
  </div>
</div>
<p/>
{% endblock %}

{% block footer %}
{{super()}}
<div class="container">
  <img class="footer-image" src="/icons/pada.svg"/> - Show pada<br/>
  <img class="footer-image" src="/icons/sloka.svg"/> - Show sloka<br/>
  <img class="footer-image" src="/icons/varga.svg"/> - Show varga<br/>
  <img class="footer-image" src="/icons/search.svg"/> - Search<br/>
  <img class="footer-image" src="/icons/link.svg"/> - Copy link to clipboard<br/>
  <a href="https://github.com/aupasana/amara-quiz/issues"><img class="footer-image" src="/icons/bug.svg"/></a> - Report an issue<br/>
</div>
<!-- <div class="container top-matter">
  <div class="card bg-light mb-3" style="max-width: 25rem;">
    <div class="card-body">
        <a href="https://github.com/aupasana/amara-quiz">sources</a>
    </div>
  </div>
</div>
<p/> -->
{% endblock %}
