{% extends "base_amara.html" %}

{% block styles %}
{{super()}}
<style type="text/css">
    .search-image {
      height: 1rem;
      width: 1rem;
    }
</style>
{% endblock %}

{% block scripts %}
{{super()}}
<script>
function copyToClipboard() {
  var $temp = $("<input>");
  $("body").append($temp);
  var sloka = $("#copy-link").attr("clipboard");
  var clipValue = sloka + "  " + window.location.href;
  $temp.val(clipValue).select();
  document.execCommand("copy");
  $temp.remove();
}
$(document).ready(function(){
  $("#copy-link").click(function() {
    copyToClipboard();
  });
});
</script>
{% endblock %}


{% block content %}
{{super()}}

  <div id="content-inner">
    {% for row in rows %}

        <div class="container">
            <div class="card bg-light mb-3" style="max-width: 35rem;">
              <div class="card-body">
                <h5 class="card-title">{{row["pada"]}} ({{row["linga"]}}) == {{row["artha"]}}</h5>
                <br/>
                {{row["sloka_text"]}}&nbsp;
                <a href="/sloka?sloka_number={{row['sloka_number']}}"><img class="search-image" src="/icons/sloka.svg"/></a>
                <a href="/varga?varga={{row['varga']}}#{{row['sloka_number']}}"><img class="search-image" src="/icons/varga.svg"/></a>
                <img class="search-image" id="copy-link" src="/icons/link.svg"/ clipboard="{{row['sloka_text']}}">
                <br/>
                <div class="amara-context">
                  {{row["varga"]}}&nbsp;{{row["sloka_word"]}}
                </div>

              </div>
            </div>

            <br/>

            <div class="card bg-light mb-3" style="max-width: 35rem;">
              <div class="card-body">
                <h5 class="card-title">पर्यायपदानि</h5>

                {% for p in paryaya_slokas %}
                  <a href="/sloka?sloka_number={{p['sloka_number']}}"><img class="search-image" src="/icons/sloka.svg"/></a>
                  <a href="/varga?varga={{p['varga']}}#{{p['sloka_number']}}"><img class="search-image" src="/icons/varga.svg"/></a>
                  &nbsp;{{p["sloka_text"]}}<br/>
                {% endfor %}

                <br/>

                {% for p in paryaya %}
                  <a href="/pada?pada_number={{p['sloka_word']}}&pada={{p['pada']}}"><img class="search-image" src="/icons/pada.svg"/></a>
                  <a href="/sloka?sloka_number={{p['sloka_number']}}"><img class="search-image" src="/icons/sloka.svg"/></a>
                  <a href="/varga?varga={{p['varga']}}#{{p['sloka_number']}}"><img class="search-image" src="/icons/varga.svg"/></a>
                  &nbsp;{{p["pada"]}} <br/>
                {% endfor %}

              </div>
            </div>

        </div>

    {% endfor %}
  </div>

{% endblock %}
