{% extends "amara_base.html" %}

{% block styles %}
{{super()}}
<style type="text/css">
  .result-number {
    display: inline-block;
    width: 4rem;
  }
  .amara-quote {
    font-size: 1.2rem;
  }
  .search-image {
    height: 1rem;
    width: 1rem;
    float: right;
  }
</style>
{% endblock %}

{% block scripts %}
{{super()}}
    <script>
      $(document).ready(function(){
          window.page = 1;
          $("#button-previous").prop('disabled',true);

          $("#button-previous").click(function() {
            window.page = window.page-1;
            $('#content-inner').load('/search?term={{user_term}}&page=' + window.page + ' #content-inner');

            if (window.page === 1) {
              $("#button-previous").prop('disabled',true);
            }
          });

          $("#button-next").click(function() {
            window.page = window.page+1;
            $('#content-inner').load('/search?term={{user_term}}&page=' + window.page + ' #content-inner');
            $("#button-previous").prop('disabled',false);
          });

      });
    </script>
{% endblock %}

{% block content %}
{{super()}}

<div class="container top-matter">
  <div class="card bg-light mb-3" style="max-width: 25rem;">
    <div class="card-body">
      <button id="button-previous" class="btn btn-secondary" style="width:10rem">previous</button>
      <button id="button-next" class="btn btn-secondary" style="width:10rem">next</button>
    </div>
  </div>
</div>

<div id="content-inner">

  <div class="term top-matter">Search: {{term}} ({{user_term}}). Page {{page}}</div>
  <br/>

    {% for row in rows %}

      <div class="container">
          <div class="card bg-light mb-3" style="max-width: 25rem;">
            <div class="card-body">
              <h5 class="card-title">
                <span class="result-number">{{((page | int) - 1) * 10 + loop.index}}</span>
                {{row["pada"]}} ({{row["linga"]}}) <a href="/search?term={{row['pada']}}"><img class="search-image" src="/icons/search.svg"/></a>
              </h5>
              <p class="card-text">
                  <span class="amara-quote">{{row["sloka_text"]}}</span> <a href="/sloka?sloka_number={{row['sloka_number']}}"><img class="search-image" src="/icons/sloka.svg"/></a><br/>
                  {{row["varga"]}} {{row["sloka_word"]}} <a href="/varga?varga={{row['varga']}}#{{row['sloka_number']}}"><img class="search-image" src="/icons/varga.svg"/></a><br/>
                  अर्थः - {{row["artha"]}} <a href="/search?term={{row['artha']}}"><img class="search-image" src="/icons/search.svg"/></a>
                  {% if row["artha_english"] | length %}<br/>{{row["artha_english"]}}{% endif %}
              </p>
            </div>
          </div>
          <br/>
      </div>

    {% endfor %}

</div>
{% endblock %}
