{% extends "base_amara.html" %}

{% block styles %}
{{super()}}
<style type="text/css">
  .sloka-image {
    height: 1rem;
    width: 1rem;
    float: right;
  }
  .varga {
    padding-left: 10px;
    font-size: 1.5rem;
  }
  .content {
    font-size: 1rem;
  }
  .sloka {
    padding-left: 10px;
  }
  .artha {
    padding-top: 5px;
    font-size: .6rem;
    text-align: left;
  }
  .sloka-number {
    float: right;
    font-size: 0.8rem;
  }
</style>
{% endblock %}

{% block content %}
{{super()}}

<div class="container">
  <div class="varga">
      {{varga}}
  </div>

  <div class="content">
    {% for row in mula %}
        <div class="artha" id="{{row['sloka_number']}}">
          {{artha_summary[row["sloka_line"]]}}
        </div>
        <div class="sloka">
          {{row["sloka_text"]}} <span class="sloka-number">&nbsp;{{row['sloka_line']}}</span><a href="/sloka?sloka_number={{row['sloka_number']}}"><img class="sloka-image" src="/icons/sloka.svg"/></a>
        </div>
    {% endfor %}
  </div>
</div>

<p/>

{% endblock %}
