{% extends "base_amara.html" %}

{% block styles %}
{{super()}}
<style type="text/css">
.icon {
  height: 2rem;
  width: 2em;
  padding-right: 10pt;
}
.hangingindent {
  padding-left: 2rem ;
  text-indent: -2rem ;
}
</style>
{% endblock %}
{% block content %}
{{super()}}

<div class="container">

  <h5>About this site</h5>

  <div class="hangingindent"><img class="icon" src="icons/code.svg"/>This site is developed by Ajit Krishnan</div>
  <div class="hangingindent"><img class="icon" src="icons/code.svg"/>The sources are on <a href="https://github.com/aupasana/amara-quiz">github</a></div>
  <div class="hangingindent"><img class="icon" src="icons/code.svg"/>Data set: <a href="https://github.com/aupasana/amara-quiz/blob/master/database/amara_mula.utf8">amara kosha mulam</a> on github</div>
  <div class="hangingindent"><img class="icon" src="icons/code.svg"/>Data set: <a href="https://github.com/aupasana/amara-quiz/blob/master/database/amara_pada.csv">amara kosha word csv file</a> on github</div>
  <div class="hangingindent"><img class="icon" src="icons/code.svg"/>Data set: <a href="https://github.com/sanskrit-lexicon/cologne-stardict/tree/master/output">babylon dictionary files</a> on github</div>

  <br/>

  <h5>Features</h5>

  <ul>
    <li>Varga view with sanskrit summary, translations and pratipadikas for each line</li>
    <li>Sloka view with detailed information of all the words therein</li>
    <li>Pada view with information of the pada as well as all synonyms</li>
    <li>Search the amara kosha with full wildcard support</li>
    <li>Search the apte dictionary (including compound words) with full wildcard support</li>
    <li>Quizzes (vocabulary drills) based on the amara kosha</li>
    <li>View the amara kosha in devanagari, kannada, telugu or malayalam</li>
    <li>English translations [in progress]</li>
    <li>Telugu translations [in progress]</li>
    <li>Link each sloka to the relevant audio files with correct offset [in progress]</li>
  </ul>

  <br/>

  <h5>Credits</h5>

  <div class="hangingindent"><img class="icon" src="icons/thumbs-up.svg"/><a href="http://sanskrit.uohyd.ac.in/scl/amarakosha/frame.html">University of Hyderabad amara kosha dataset</a></div>

  <div class="hangingindent"><img class="icon" src="icons/thumbs-up.svg"/><a href="https://www.sanskrit-lexicon.uni-koeln.de">Cologne digital sanskrit dictionaries</a></div>

  <div class="hangingindent"><img class="icon" src="icons/thumbs-up.svg"/><a href="https://github.com/sanskrit-lexicon/cologne-stardict">Scripts to convert Cologne XMLs into babylon format </a></div>


  <div class="hangingindent"><img class="icon" src="icons/thumbs-up.svg"/>Icons made by <a href="https://www.flaticon.com/authors/picol" title="Picol">Picol etc</a>
      from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a>
      are licensed by <a href="http://creativecommons.org/licenses/by/3.0/"
      title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>

</div>
{% endblock %}

{% block footer %}
{% endblock %}
