{% extends "base_amara.html" %}

{% block styles %}
{{super()}}
<style type="text/css">
  .search-image {
    height: 1rem;
    width: 1rem;
    margin-right: 1rem;
    /* float: right; */
  }
</style>
{% endblock %}

{% block scripts %}
{{super()}}
{% endblock %}

{% block content %}
{{super()}}

<div class="container">
  {% set padas_grouped = padas | groupby('pada_transliterated') %}

  {% for entry in padas_grouped %}
    <div class="card bg-light mb-3">
      <div class="card-body">
        <h5 class="card-title">{{entry.grouper}}</h5>
        <p class="card-text">
          {% for p in entry.list %}
            <a href="/sloka?sloka_number={{p['sloka_number']}}"><img class="search-image" src="/icons/sloka.svg"/></a>
            {{p['sloka_text_transliterated']}} - {{p['artha_transliterated']}}
            <br/>
          {% endfor%}
        </p>
      </div>
    </div>
  {% endfor %}

</div>
{% endblock %}
