{% extends "base_amara.html" %}

{% block styles %}
{{super()}}
{% endblock %}

{% block content %}
{{super()}}

<div class="container">
  <h3>How to use this site</h3>

  <p>This site is designed for those who want to learn and use the amarakosha
  in a traditional way. i.e it is centered around the verses of the amarakosha
  in their original context.</p>

  <h5>Learn the amarakosha</h5>

  <p>For those that are learning the amarakosha, you can view each varga.
  The original verses are shown along with english meanings, pratipadikas
  and linga markers. You can click on the audio icon and listen along as you read.
  </p>

  <h5>Practice amarakosha vocabulary</h5>

  <p>Select a varga from the amarakosha and start the quiz. You will be asked
    random questions from that varga. You can then test yourself to see if you
    are able to recall the appropriate reference from the amarakosha. The meaning,
    paryaya padas, as well as other occurences of the term in the amarakosha are given.
  </p>

  <h5>Search the amarakosha</h5>

  <p>Enter a search term into the search box on the top of every page.
  The search term should be in itrans or devanagari format.
  Type enter or click the search icon to the right side of the search box.
  You can search for an exact match (shiva), prefix match (shi*), suffix match (iva*) etc.
  </p>

  <h5>Search the apte sanskrit-english dictionary</h5>

  <p>Enter a search term into the search box on the top of every page.
  The search term should be in itrans or devanagari format.
  Type shift-enter or click the "A" icon to the right side of the search box.
  You can search for an exact match (shiva), prefix match (shi*), suffix match (iva*) etc.
  To search for compound words, use the hyphen as a separator. eg. (sahasra-akSha)</p>


</div>
{% endblock %}

{% block footer %}
{% endblock %}
