{% extends "base_amara.html" %}

{% block styles %}
{{super()}}
{% endblock %}

{% block content %}
{{super()}}

<div class="container">
  <h3>How to use this site</h3>

  This site is designed for those who want to learn and use the amarakosha
  in a traditional way. i.e It it centered around the verses of the amarakosha
  themselves in their original context, and not merely it's vocabulary.

  <h5>Search the amarakosha</h5>

  Enter a search term into the search box on the top of every page.
  The search term should be in itrans or devanagari format.
  Type enter or click the search icon to the right side of the search box.

  <h5>Search the apte sanskrit-english dictionary</h5>

  Enter a search term into the search box on the top of every page.
  The search term should be in itrans or devanagari format.
  Type shift-enter or click the "A" icon to the right side of the search box. 


</div>
{% endblock %}

{% block footer %}
{% endblock %}
