{% extends "base_amara.html" %}

{% block styles %}
{{super()}}
<style type="text/css">
.search-term {
  -webkit-appearance: none;
  font-size: large;
  padding: 5pt;
  width: 200px;
}
.button {
  margin-top: 5px;
}
.searchHint {
  font-size: medium;
}
.search-image {
  height: 2rem;
  width: 2em;
  padding-right: 10pt;
}
</style>
{% endblock %}

{% block scripts %}
{{super()}}
<script>
$(document).ready(function(){
  $('#searchButton').click(function() {
    window.location = "/babylon?term=" + $('#searchTerm').val();
  });

  $('#searchCorpus').click(function() {
    window.location = "/corpus?term=" + $('#searchCorpusTerm').val();
  });

  $("#searchTerm").keypress(function() {
    var keycode = (event.keyCode ? event.keyCode : event.which);
      if (event.which == 13 || event.keyCode == 13) {
        window.location = "/babylon?term=" + $('#searchTerm').val();
          event.preventDefault()
      }
   });

   $("#searchCorpusTerm").keypress(function() {
    var keycode = (event.keyCode ? event.keyCode : event.which);
      if (event.which == 13 || event.keyCode == 13) {
        window.location = "/corpus?term=" + $('#searchCorpusTerm').val();
          event.preventDefault()
      }
   });

});
</script>
{% endblock %}

{% block content %}
{{super()}}

<div class="container">

  <div class="row">

    <!-- search -->
    <div class="index-section col-md">
      <h5> Search other dictionaries</h5>
      <div>
          This searches the Apte, शब्दकल्पद्रुम, वाचस्पत्यम् and Monier-Williams dictionaries.<br/><br/>
          <input type="text" class="search-term" id="searchTerm" placeholder="सम्पद् sampad"></input>&nbsp;&nbsp;&nbsp;
        <a href="#" id="searchButton"><img class="search-image" src="icons/search.svg"/></a>
      </div><br/>

    </div>

  </div>
  <br/>

  <div class="row">
    <!-- search -->
    <div class="index-section col-md">
        <h5>Search the digital corpus of sanskrit</h5>
        <div>
        <input type="text" class="search-term" id="searchCorpusTerm" placeholder="Search sanskrit corpus"></input>&nbsp;&nbsp;&nbsp;
        <a href="#" id="searchCorpus"><img class="search-image" src="icons/search.svg"/></a>
      </div><br/>
    </div>
  </div>

  <div class="row">
      <!-- search -->
      <div class="index-section col-md">
          <h5>Links</h5>

          <ul>
            <li><a href="https://www.sanskrit-lexicon.uni-koeln.de/">Cologne Digital Sanskrit Dictionaries</a></li>
          </ul>
      </div>
    </div>
  

</div>
{% endblock %}

{% block footer %}
{% endblock %}
