{% extends "base_amara.html" %}

{% block styles %}
{{super()}}
<style type="text/css">
.varga-select, .quiz-button, .search-button, .varga-button {
  -webkit-appearance: none;
  font-size: large;
  padding: 10pt;
  width: 125px;
  text-align: left;
}
.varga-select, .search-button {
  width: 250px;
}
.search-term {
  -webkit-appearance: none;
  font-size: large;
  padding: 5pt;
  width: 200px;
}
.button {
  margin-top: 5px;
}
.description {
  font-size: medium;
  text-align: left;
}
.searchHint {
  font-size: medium;
}
.search-image {
  height: 2rem;
  width: 2em;
  padding-right: 10pt;
}
.index-section {
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-bottom: dashed;
  border-width: thin;
  border-color: silver;
}
</style>
{% endblock %}

{% block scripts %}
{{super()}}
<script>
$(document).ready(function(){
  $('#quizButton').click(function() {
    window.location = "/quiz?varga=" + $('#all_vargas').val();
  });

  $('#vargaButton').click(function() {
    window.location = "/varga?varga=" + $('#all_vargas').val();
  });

  $('#searchButton').click(function() {
    window.location = "/search?term=" + $('#searchTerm').val();
  });

  $("#searchTerm").keypress(function() {
    var keycode = (event.keyCode ? event.keyCode : event.which);
      if (event.which == 13 || event.keyCode == 13) {
        window.location = "/search?term=" + $('#searchTerm').val();
          event.preventDefault()
      }
   });

   $( "#language" ).change(function() {
     window.location = "/?language=" + $("#language").val()
   });
});
</script>
{% endblock %}

{% block content %}
{{super()}}

<div class="container">

  <div class="row">

    <!-- search -->
    <div class="index-section col-md">
      <div>
        <input type="text" class="search-term" id="searchTerm" placeholder="सम्पद् sampad"></input>&nbsp;&nbsp;&nbsp;
        <a href="#" id="searchButton"><img class="search-image" src="icons/search.svg"/></a>
      </div><br/>

      <div>
        Search amara kosha using indian unicode scripts or <a href="https://www.aczoom.com/itrans/html/dvnc/node3.html">itrans</a> / harvard-kyoto / wx.
        Examples: "indra*", "वि*वत्", "*dra", "शिव शक्ति"
      </div>
    </div>

  </div>

  <div class="row">

    <!-- varga - view & quiz -->
    <div class="index-section col-md">
      <select class="varga-select" id="all_vargas" name="all_vargas" method="GET" action="/">
        <optgroup class="varga-select">
          {% for v in all_vargas_map %}
          <option class="varga-select" value= "{{v['varga']}}" >{{v['varga_transliterated']}} ({{v['varga_english']}})</option>
          {% endfor %}
        </optgroup>
      </select>

      <br/><br/>
      <div><img class="search-image" src="icons/varga.svg"/><a href="#" id="vargaButton">View varga selected above</a></div>
      <div><img class="search-image" src="icons/quiz.svg"/><a href="#" id="quizButton">Generate quizzes for varga selected above</a></div>
    </div>

  </div>

  <div class="row">
    <div class="index-section col-md">
      change output script:
      <select id="language" method="GET" action="/">
          {% for lang in all_languages %}
          <option class="varga-select" value= "{{lang}}" {% if lang == language %} selected {% endif %}>{{lang}}</option>
          {% endfor %}
      </select>
      <br/>Note: this is experimental functionality
    </div>
  </div>


  <div class="row">

    <!-- other links -->
    <div class="index-section col-xl">
      <div><a href="/stats"><img class="search-image" src="icons/count.svg"/>Statistics and counts</a></div>
      <div><a href="/all_pada"><img class="search-image" src="icons/list.svg"/>Complete word list</a></div>
      <div><a href="/dupe_pada"><img class="search-image" src="icons/duplicate.svg"/>Words with multiple occurences</a></div>
      <div><a href="/about"><img class="search-image" src="icons/about.svg"/>About this site</a></div>
    </div>

  </div>

  <div class="row">
    <!-- non site related links -->
    <div class="index-section col-xl">
      <div><a href="https://sanskritdocuments.org/amarakosha/"><img class="search-image" src="icons/external.svg"/>Other resources [sanskritdocuments.org]</a></div>
      <div><a href="/index_babylon"><img class="search-image" src="icons/search.svg"/>Search other dictionaries (apte etc)</a></div>
      <div><a href="https://github.com/aupasana/amara-quiz/issues"><img class="search-image" src="icons/bug.svg"/>Report an issue</a></div>
      <div><img class="search-image" src="icons/email.svg"/><img src="images/contact.png"/></div>
    </div>

  </div>


</div>

{% endblock %}

{% block footer %}
{% endblock %}
