{% extends "base_amara.html" %}

{% block styles %}
{{super()}}
<style type="text/css">
  .result-number {
    display: inline-block;
    width: 4rem;
  }
  .highlight {
    background-color: yellow;
  }
</style>
{% endblock %}

{% block scripts %}
{{super()}}
    <script>
      $(document).ready(function(){
          window.page = 1;
          $("#button-previous").prop('disabled',true);

          $("#button-previous").click(function() {
            window.page = window.page-1;
            $('#content-inner').load('{{route}}?term={{user_term}}&page=' + window.page + ' #content-inner');
            // window.scrollTo(0,document.body.scrollHeight);

            if (window.page === 1) {
              $("#button-previous").prop('disabled',true);
            }
          });

          $("#button-next").click(function() {
            window.page = window.page+1;
            $('#content-inner').load('{{route}}?term={{user_term}}&page=' + window.page + ' #content-inner');
            $("#button-previous").prop('disabled',false);
            // $(window).scrollTop(0);
          });
      });
    </script>
{% endblock %}

{% block content %}
{{super()}}

<div class="container">

  <button id="button-previous" class="btn btn-secondary" style="width:10rem">previous</button>
  <button id="button-next" class="btn btn-secondary" style="width:10rem">next</button>

  <div id="content-inner">

    <br/>
    <h5> Search <a href="https://github.com/sanskrit-kosha/kosha">other koshas</a>: {{search_box_value}}. Page {{page}}</h5>
    <br/>

      {% for r in rows_context %}

        <div class="card bg-light mb-3">
          <div class="card-body">
            <h5 class="card-title">
              <span class="result-number">{{((page | int) - 1) * 10 + loop.index}}</span>
            </h5>
            <p class="card-text">
              {% set kosha_link = "https://github.com/sanskrit-kosha/kosha/tree/master/" ~ r["main"]["kosha_name"] %}
              <a href="{{kosha_link}}">{{r["main"]["kosha_name"]}}</a>. Line {{r["main"]["line_id"]}}<p/>

              {% for c in r["context"] %}
                {% if c["line_id"] == r["main"]["line_id"] %}
                  <span class="highlight">{{c["text_line"]}}</span><br/>
                {% else %}
                  <span>{{c["text_line"]}}</span><br/>
                {% endif %}
              {% endfor %}
            </p>
          </div>
        </div>
        <br/>

      {% endfor %}

  </div>

  <br/><br/>

</div>
{% endblock %}

{% block footer %}
{% endblock %}
