{% extends "base_amara.html" %}

{% block styles %}
{{super()}}
<style type="text/css">
    .search-image {
      height: 1rem;
      width: 1rem;
    }
    .answer {
      display: none;
    }
</style>
{% endblock %}

{% block scripts %}
{{super()}}
<script>
function copyToClipboard() {
  var $temp = $("<input>");
  $("body").append($temp);
  var sloka = $("#copy-link").attr("clipboard");
  var clipValue = sloka + "  " + window.location.href;
  $temp.val(clipValue).select();
  document.execCommand("copy");
  $temp.remove();
}
$(document).ready(function(){
  $("#copy-link").click(function() {
    copyToClipboard();
  });

  {% if quiz %}
  $("#refresh").click(function() {
    $('#content-inner').load(window.location.href + ' #content-inner');
  });
  $("#toggle-answer").click(function() {
    $('#question').hide();
    $('#answer').show();
  });
  {% endif %}

});
</script>
{% endblock %}


{% block content %}
{{super()}}

<div class="container">

  {% if quiz %}
  <button id="refresh" class="btn btn-secondary" style="width:10rem">new question</button>&nbsp;&nbsp;
  <button id="toggle-answer" class="btn btn-secondary" style="width:10rem">show answer</button><br/><br/>
  {% endif %}

  <div id="content-inner">

  {% if quiz %}
  <div id="question" class="card bg-light mb-3" style="max-width: 35rem;">
    <div class="card-body">
      <h5 class="card-title">Question: {{pada[0]["pada_transliterated"]}}</h5>
    </div>
  </div>
  {% endif %}

  <div id="answer" {% if quiz %}class="answer"{% endif %}>
    {% for row in pada %}

            <div class="card bg-light mb-3" style="max-width: 35rem;">
              <div class="card-body">
                <h5 class="card-title">{{row["pada_transliterated"]}} ({{row["linga_transliterated"]}}) == {{row["artha_transliterated"]}}</h5>
                <br/>
                {{row["sloka_text_transliterated"]}}&nbsp;
                {% if quiz %}<a href="/pada?pada_number={{row['sloka_word']}}&pada={{row['pada']}}"><img class="search-image" src="/icons/pada.svg"/></a>{% endif %}
                <a href="/sloka?sloka_number={{row['sloka_number']}}"><img class="search-image" src="/icons/sloka.svg"/></a>
                <a href="/varga?varga={{row['varga']}}#{{row['sloka_number']}}"><img class="search-image" src="/icons/varga.svg"/></a>
                <img class="search-image" id="copy-link" src="/icons/link.svg"/ clipboard="{{row['sloka_text']}}">
                <br/>
                <div class="amara-context">
                  {{row["varga_transliterated"]}}&nbsp;{{row["sloka_word"]}}
                </div>

              </div>
            </div>

            <br/>

            <div class="card bg-light mb-3" style="max-width: 35rem;">
              <div class="card-body">
                <h5 class="card-title">{{resx["paryaya"]}}</h5>

                {% for p in paryaya_slokas %}
                  <a href="/sloka?sloka_number={{p['sloka_number']}}"><img class="search-image" src="/icons/sloka.svg"/></a>
                  <a href="/varga?varga={{p['varga']}}#{{p['sloka_number']}}"><img class="search-image" src="/icons/varga.svg"/></a>
                  &nbsp;{{p["sloka_text_transliterated"]}}<br/>
                {% endfor %}

                <br/>

                {% for p in paryaya %}
                  <a href="/pada?pada_number={{p['sloka_word']}}&pada={{p['pada']}}"><img class="search-image" src="/icons/pada.svg"/></a>
                  <a href="/sloka?sloka_number={{p['sloka_number']}}"><img class="search-image" src="/icons/sloka.svg"/></a>
                  <a href="/varga?varga={{p['varga']}}#{{p['sloka_number']}}"><img class="search-image" src="/icons/varga.svg"/></a>
                  &nbsp;{% if p["is_variant"] %}+{% endif %}{{p["pada_transliterated"]}} ({{p["linga"]}})<br/>
                {% endfor %}

              </div>
            </div>

        </div>

    {% endfor %}
    </div>
  </div>

{% endblock %}
