{% extends "base_amara.html" %}

{% block styles %}
{{super()}}
<style type="text/css">
  .result-number {
    display: inline-block;
    width: 4rem;
  }
  .amara-quote {
    font-size: 1.2rem;
  }
  .search-image {
    height: 1rem;
    width: 1rem;
    float: right;
  }
</style>
{% endblock %}

{% block scripts %}
{{super()}}
    <script>
      $(document).ready(function(){
          window.page = 1;
          $("#button-previous").prop('disabled',true);

          $("#button-previous").click(function() {
            window.page = window.page-1;
            $('#content-inner').load('/search?term={{user_term}}&page=' + window.page + ' #content-inner');
            window.scrollTo(0,document.body.scrollHeight);

            if (window.page === 1) {
              $("#button-previous").prop('disabled',true);
            }
          });

          $("#button-next").click(function() {
            window.page = window.page+1;
            $('#content-inner').load('/search?term={{user_term}}&page=' + window.page + ' #content-inner');
            $("#button-previous").prop('disabled',false);
            $(window).scrollTop(0);
          });
      });
    </script>
{% endblock %}

{% block content %}
{{super()}}

<div class="container">

  <button id="button-previous" class="btn btn-secondary" style="width:10rem">previous</button>

  <div id="content-inner">

    {% if rows | count > 0 %}

      {% if search_converted and search_converted | length > 0 %}
      <br/>
      <div class="card bg-light mb-3" style="max-width: 25rem;">
        <div class="card-body">
          <h5 class="card-title">{{search_converted}}</h5>
        </div>
      </div>
      {% endif %}

    <br/>
    <h5> Search amarakosha: {{search_box_value}}. Page {{page}}</h5>
    <br/>

      {% for row in rows %}

        <div class="card bg-light mb-3" style="max-width: 25rem;">
          <div class="card-body">
            <h5 class="card-title">
              <span class="result-number">{{((page | int) - 1) * 10 + loop.index}}</span>
              {{row["pada_transliterated"]}} ({{row["linga_transliterated"]}})
              <a href="/search?term={{row['pada']}}"><img class="search-image" src="/icons/search.svg"/></a>
              <a href="/pada?pada_number={{row['sloka_word']}}&pada={{row['pada']}}"><img class="search-image" src="/icons/pada.svg"/></a>
            </h5>
            <p class="card-text">
                {% autoescape false %}
                <span class="amara-quote">{{row["sloka_text_transliterated"] | mulam_gender_to_html }}</span>
                {% endautoescape %}    
                <a href="/sloka?sloka_number={{row['sloka_number']}}"><img class="search-image" src="/icons/sloka.svg"/></a><br/>
                {{row["varga_transliterated"]}} {{row["sloka_word"]}} <a href="/varga?varga={{row['varga']}}#{{row['sloka_number']}}"><img class="search-image" src="/icons/varga.svg"/></a><br/>
                {{resx["artha"]}} - {{row["artha_transliterated"]}} <a href="/search?term={{row['artha']}}"><img class="search-image" src="/icons/search.svg"/></a>
                {% if row["artha_english"] | length %}<br/>{{row["artha_english"]}}{% endif %}
            </p>
          </div>
        </div>
        <br/>

      {% endfor %}

  </div>
  {% else %}
  <br/>
  <div class="card bg-light mb-3" style="max-width: 25rem;">
    <div class="card-body">
      <h5 class="card-title">No results found</h5>
    </div>
  </div>
  {% endif %}

  <button id="button-next" class="btn btn-secondary" style="width:10rem">next</button>
  <br/><br/>

</div>
{% endblock %}
