{% extends "base_amara.html" %}

{% block styles %}
{{super()}}
<style type="text/css">
  table {
      /* border: 1px dotted grey; */
      width: 100%;
      text-align: center;
    }
  th, td {
    /* border: 1px dotted grey; */
    text-align: left;
  }
  .sloka-image {
    height: 1rem;
    width: 1rem;
    float: right;
  }
  .search-image {
    height: 1rem;
    width: 1rem;
  }
  .lighten {
    opacity: 0.5;
  }
  .sloka {
    font-size: 1.25rem;
  }
  .audio {
    /* margin-top: 1rem; */
  }
</style>
{% endblock %}

{% block content %}
{{super()}}


<div class="container">
    <div class="card bg-light mb-3" style="max-width: 35rem;">
      <div class="card-body">

        <h5 class="card-title">
          <button id="button-previous" class="btn btn-secondary" style="width:10rem" onclick="window.location.href='/sloka?sloka_number={{sloka_number_previous}}'">previous</button>
          <button id="button-next" class="btn btn-secondary" style="width:10rem" onclick="window.location.href='/sloka?sloka_number={{sloka_number_next}}'">next</button>
          <p/><p/>

          {{varga_transliterated}} {{sloka_number}}
        <a href="/varga?varga={{varga}}#{{sloka_number}}"><img class="sloka-image" src="/icons/varga.svg"/></a></h5>
        <p class="card-text sloka">
          {% for row in mula %}
            {{row["sloka_text_transliterated"]}}<br/>
          {% endfor %}
        </p>
      </div>
    </div>
</div>

{% for row in pada %}
<div class="container">
  {% if row["is_variant"] == 1%}
    <div class="card bg-secondary text-white mb-3">  <!-- style="width:70rem; max-width:100rem;"> -->
  {% else %}
    <div class="card bg-light mb-3">  <!-- style="width:70rem; max-width:100rem;"> -->
  {% endif %}
      <div class="card-body">
        <!-- <h5 class="card-title"> -->
          <a href="/pada?pada_number={{row['sloka_word']}}&pada={{row['pada']}}"><img class="search-image lighten" src="/icons/pada.svg"/></a>
          <a href="/search?term={{row['pada']}}"><img class="search-image lighten" src="/icons/search.svg"/></a>
          {% if row["is_variant"] == 1%}+{% endif %}{{row["pada_transliterated"]}} ({{row["linga_transliterated"]}})
 = {{row["artha_transliterated"]}}. {{row["sloka_word"]}}
          <a href="/search?term={{row['artha']}}"><img class="search-image lighten" src="/icons/search.svg"/></a>
<!-- </h5> -->
        <p class="card-text">
          {% if row["artha_english"] %}English: {{row["artha_english"]}}<br/>{% endif %}
          {% if row["artha_telugu"] and row["artha_telugu"] != row["artha_english"] %}Telugu: {{row["artha_telugu"]}}<br/>{% endif %}
        </p>
    </div>
  </div>
</div>
{% endfor %}


{% if audio | length > 0 %}
<div class="container">
    <div class="card bg-light mb-3">  <!-- style="width:70rem; max-width:100rem;"> -->
      <div class="card-body">
        <p class="card-text">
              <div class="audio">
                Audio: <br/>
                {% for a in audio %}
                  {{a['sloka_line']}}: <a target="audio" href="https://archive.org/details/aupasana_amara_kosha_audio/{{a['filename']}}?start={{a['seconds']}}">{{a['filename']}} @ {{a['seconds']}} seconds</a>}<br/>
                {% endfor %}
              </div>
      </div>
    </div>
    <br/>
</div>
{% endif %}



{% endblock %}
