{% extends "base_amara.html" %}

{% block styles %}
{{super()}}
{% endblock %}


{% block content %}
{{super()}}
<div class="container">

  <div class="card bg-light mb-3" style="max-width: 35rem;">
    <div class="card-body answer" id="answer">

      <h5 class="card-title">Sloka and word counts by varga</h5>

      <table class="table table-striped">
        <thead class="thead-dark">
          <tr>
            <td>varga</td>
            <td>slokas</td>
            <td>words</td>
            <td>variant words</td>
          </tr>
        </thead>
        <tbody>
          {% for row in stats %}
          <tr>
            <td>{{row["varga_transliterated"]}}</td>
            <td>{{row["mula_count"] / 2}}</td>
            <td>{{row["pada_count"]}}</td>
            <td>{{row["variant_count"]}}</td>
          </tr>
          {% endfor %}
          <tr>
            <td>Total</td>
            <td>{{stats | sum(attribute='mula_count') / 2}}</td>
            <td>{{stats | sum(attribute='pada_count')}}</td>
            <td>{{stats | sum(attribute='variant_count')}}</td>
          </tr>
        </tbody>
      </table>

    </div>
  </div>

</div>

{% endblock %}

{% block footer %}
{% endblock %}
