{% extends "base_amara.html" %}

{% block styles %}
{{super()}}
<style type="text/css">
  .sloka-image {
    height: 1rem;
    width: 1rem;
  }
  .varga {
    padding-left: 10px;
    font-size: 1.5rem;
  }
  .content {
    font-size: 1rem;
  }
  .sloka-text {
    font-size: 1.25rem;
  }
  .sloka {
    padding-left: 1rem;
    padding-top: .15rem;
    padding-bottom: 1rem;
    display: flex;
    justify-content: space-between;
  }
  .artha {
    font-size: .8rem;
    text-align: left;
    color: DarkSlateGray;
  }
</style>
{% endblock %}

{% block content %}
{{super()}}

<div class="container">
  <div class="varga">
      {{varga}}
  </div>

  <div class="content">
    {% for row in mula %}
        <div class="artha" id="{{row['sloka_number']}}">
          {% for s in artha_summary[row["sloka_line"]] %}
            {{s}}<br/>
          {% endfor %}
        </div>
        <div class="sloka">
          <div class="sloka-text">{{row["sloka_text_transliterated"]}}</div>
          <div>{{row['sloka_line']}} <a href="/sloka?sloka_number={{row['sloka_number']}}"><img class="sloka-image" src="/icons/sloka.svg"/>&nbsp;</a></div>
        </div>
    {% endfor %}
  </div>
</div>

<p/>

{% endblock %}
